
html {
	scroll-behavior: smooth;
}

.navbar-custom {
	height: 120px;
	background-color: white;
	color: #37474F;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	margin-top: 0px;
}

.navbar-brand {
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 0.1rem;
	margin-left: 20px;
}

.navbar .nav-link:hover {
	color: #3F729B;
}

.navbar .nav-link {
	color: #605D5D;
	margin-right: 15px;
}

#toggle_button {
	color: white;
}

#menu_content {
	text-align: right;
}

#laurel_img {
	padding-left: 2rem;
	padding-top: 0px;
	max-width: 110px;
}

#intro_outer {
	padding-top: 5%;
}

#intro_inner {
	min-height: 500px;
	background-image: url('./images/landing/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 900px 400px;
}

#poster_outer {
	padding-top: 10%;
}

#poster_inner {
	/*padding-top: 60%;*/
	min-height: 50rem;
	width: 100%;
	background-image: url('./images/landing/poster.png');
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: auto 100%;
	background-attachment: scroll;
	position: relative;
}

#about_outer {
	padding-top: 10%;
}

#about_inner {
	background-color: #C0929D;/*#E1CCC9;*/
	margin-top: 20px;
	font-size: 1.4rem;
	color: white;/*#605D5D;*/
	font-family: 'Oswald', cursive;
	padding: 20px;
	margin-bottom: 5rem;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
}

#about_trailer {
	margin-top: 0px;
	text-align: center;
}

#about_trailer_vid {
	width: 600px;
	height: 300px;
}

.title {
	background-color: #C0929D;/*#E1CCC9;*/
	margin-top: 50px;
	color: #3E4551;
	letter-spacing: 0.2rem;
	font-size: 40px;
	font-family: 'Piedra', cursive;
	text-align: center;
}

#partners_outer {
	padding-top: 10%;
}

#partners_inner_1 {
	background-color: #C0929D;/*#E1CCC9;*/
	margin-top: 20px;
	font-size: 1.4rem;
	font-family: 'Oswald', cursive;
	color: white;/*#605D5D;*/
	padding: 20px;
	/*margin-bottom: 10rem;*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
}

#partners_inner_2 {
	margin-top: 5rem;
	margin-bottom: 10rem;
}

#partners_col {
	text-align: center;
	padding: 10px;
}

#contact_outer {
	padding-top: 10%;
}

.contact_underline {
	text-decoration: underline;
}

#contact_inner{
	text-align: center;
	background-color: #C0929D;/*#E1CCC9;*/
	margin-top: 20px;
	font-size: 1.4rem;
	font-family: 'Oswald', cursive;
	color: white;/*#605D5D;*/
	padding: 20px;
	/*margin-bottom: 10rem;*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
}

#design_by {
	font-size: 70%;
	margin-top: 70px;
}

#programme {
	padding-top: 10%;
	margin-bottom: 10rem;
}

.card {
	margin: 20px;
	width: 400px;
	height: 550px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
	box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
}


.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card .card-link {
	color: #2E2E2E;
	font-size: 25px;
	font-family: 'Oswald', cursive;
}

.card .card-link:hover {
	text-decoration: none;
	color: #3F729B;
}

.card .card-text {
	color: #212121;
	font-family: 'Oswald', cursive;
	letter-spacing: 0.2rem;
}

.card .card-body .card-text small {
	color: white;
}

.card .card-body {
	background-color: #C0929D;/*#E1CCC9;*/
}

.card .custom_card {
	background-color: white;/*#E1CCC9;*/
}

.card .event_cards {
	background-color: #d8bbb7;
}

iframe {
	width: 1000px;
	height: 450px;
}

.film_area {
	text-align: center;
	margin-top: 12%;
}

.partner_img {
	background-size: cover;
	height: 150px;
}

a {
	color: #37474F;
}

a:hover {
	color: #37474F;
	cursor: pointer;
}

footer {
	background-color: #605D5D;/* #37474F;*/
	color: #eceff1;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
}

footer a {
	color: #eceff1;
}

footer a:hover {
	color: #bbdefb;
	text-decoration: none;
}

#footer_content {
	margin-top: 20rem;
}

#producers {
	margin-top: 15px;
}

.modal-header {
	background-color: #C0929D;/*#E1CCC9;*/
	font-family: 'Oswald',cursive;
}

.modal-body {
	text-align: center;
	background-color: #C0929D;/*#E1CCC9;*/
	height: 100%;
	width: 100%;
}

.modal-footer {
	background-color: #C0929D;/*#E1CCC9;*/
	font-family: 'Oswald',cursive;
}

.modal-content {
	background-color: #C0929D;/*#E1CCC9;*/
	color: white;
}

.event_modal_header_span {
	font-size: 70%;
	display: inline-block;
}


/* adjust according to screen width */
/* this goes with meta tag with the viewport set */

@media only screen and (max-width: 800px) {
	.navbar-custom {
		height: 120px;
		background-color: white;
		color: #37474F;
		font-weight: 200;
		font-size: 0.2rem;
		letter-spacing: 0.1rem;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 2px;
		margin-top: 0px;
	}

	.navbar-brand {
		font-size: 5px;
		font-family: 'Amatic SC', cursive;
		letter-spacing: 0.2rem;
		margin-left: 0;
	}

	.navbar .nav-link {
		color: #605D5D;
		font-size: 15px;
		text-align: right;
	}

	#laurel_img {
		padding-left: 1rem;
		padding-top: 0px;
		width: 70px;
	}

	#intro_outer {
		padding-top: 10%;
		width: 100%;	

	}

	#intro_inner {
		min-height: 450px;
		background-image: url('./images/landing/bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 500px 300px;
	}

	.partner_img {
		background-size: cover;
		height: 60px;
	}


	iframe {
		width: auto;
		height: auto;
	}

	#about_trailer_vid {
		width: 500px;
		height: 250px;
	}

	#poster_inner {
		/*padding-top: 60%;*/
		min-height: 30rem;
		width: 100%;
		background-image: url('./images/landing/poster.png');
		background-repeat: no-repeat;
		background-position: center 10%;
		background-size: auto 100%;
		background-attachment: scroll;
		position: relative;
	}

	.card {
		width: 325px;
		height: 550px;
	}

	.card-img-top {
		width: 100%;
		height: 35vw;
		object-fit: cover;
	}

}


@media screen and (max-width: 450px) {

	.navbar-custom {
		height: 90px;
		background-color: white;
		color: #37474F;
		font-weight: 200;
		font-size: 0.2rem;
		letter-spacing: 0.1rem;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 2px;
		margin-top: 0px;
	}

	#intro_outer {
		padding-top: 5%;
		width: 100%;
	}

	#poster_outer {
		padding-top: 15%;
	}

	#about_outer {
		padding-top: 15%;
	}

	#about_trailer_vid {
		width: auto;
		height: auto;
	}

	#partners_outer {
		padding-top: 10%;
	}

	#programme {
		padding-top: 15%;
		margin-bottom: 10rem;
	}

	#contact_outer {
		padding-top: 15%;
	}

	#intro_inner {
		min-height: 450px;
		background-image: url('./images/landing/bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 380px 200px;
	}

	#laurel_img {
		padding-left: 1rem;
		padding-top: 0px;
		width: 50px;
	}

	#poster_inner {
		/*padding-top: 60%;*/
		min-height: 30rem;
		width: 100%;
		background-image: url('./images/landing/poster.png');
		background-repeat: no-repeat;
		background-position: center 10%;
		background-size: auto 100%;
		background-attachment: scroll;
		position: relative;
	}

	.card {
		width: 325px;
		height: 550px;
	}

	.card-img-top {
		width: 100%;
		height: 35vw;
		object-fit: cover;
	}

	.partner_img {
		background-size: cover;
		height: 60px;
	}
}
